{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div class="text-center mt-4 mx-3">
    <span class="badge text-bg-primary">
        <h1>{{make}} {{model}} , {{color}} ({{year}}) </h1>
    </span>
</div>

<hr class="mt-4">

<section class="mt-2 mx-4">
    {{#with features}}
    <div>
        <div class="text-uppercase text-center">
            {{> title data="Features" big=true}}
        </div>


        {{#with interior}}
        <div class="row text-bg-info">

            {{> title data="Interior:" big=false}}
            <hr>
            <div class="col-4 mt-3">
                <b>Seats:</b>
                {{#with seats}}
                <diV class="mt-3">
                    <p>
                        material:
                        <span class="badge rounded-pill text-bg-info">{{material}}</span>
                    </p>

                    <p>
                        color:
                        <span class="badge rounded-pill text-bg-info">{{color}}</span>
                    </p>

                    <p>
                        {{#if heated}}
                        heated:
                        <span class="badge rounded-pill text-bg-success">yes</span>
                        {{else}}
                        heated:
                        <span class="badge rounded-pill text-bg-danger">no</span>
                        {{/if}}

                    </p>

                    <p>
                        {{#if ventilated}}
                        ventilated:
                        <span class="badge rounded-pill text-bg-success">yes</span>
                        {{else}}
                        ventilated:
                        <span class="badge rounded-pill text-bg-danger">no</span>
                        {{/if}}
                    </p>
                </diV>
                {{/with}}
            </div>

            <div class="col-4 mt-3">
                <b>Dashboard:</b>
                {{#with dashboard}}
                <div class="mt-3">
                    <p>
                        material:
                        <span class="badge rounded-pill text-bg-info">{{material}}</span>
                    </p>

                    <p>
                        color:
                        <span class="badge rounded-pill text-bg-info">{{color}}</span>
                    </p>

                    <em>display:</em>
                    {{#with display }}
                    <div class="mt-3">
                        <p>
                            type:
                            <span class="badge rounded-pill text-bg-info">{{type}}</span>
                        </p>

                        <p>
                            size:
                            <span class="badge rounded-pill text-bg-dark">{{size}}</span>
                        </p>

                        <p>
                            resolution:
                            <span class="badge rounded-pill text-bg-dark">{{resolution}}</span>
                        </p>

                        <p>
                            {{#if touchscreen}}
                            touchscreen:
                            <span class="badge rounded-pill text-bg-success">yes</span>
                            {{else}}
                            touchscreen:
                            <span class="badge rounded-pill text-bg-danger">no</span>
                            {{/if}}
                        </p>
                    </div>
                    {{/with}}
                </div>
                {{/with}}
            </div>

            <div class="col-4 mt-3">
                <b>Audio:</b>
                {{#with audio}}
                <div class="mt-3">
                    <p>
                        system:
                        <span class="badge rounded-pill text-bg-info">{{system}}</span>
                    </p>

                    <p>
                        speakers:
                        <span class="badge rounded-pill text-bg-dark">{{speakers}}</span>
                    </p>

                    <p>
                        {{#if subwoofer}}
                        subwoofer:
                        <span class="badge rounded-pill text-bg-success">yes</span>
                        {{else}}
                        subwoofer:
                        <span class="badge rounded-pill text-bg-danger">no</span>
                        {{/if}}
                    </p>

                    <p>
                        {{#if bluetooth}}
                        bluetooth:
                        <span class="badge rounded-pill text-bg-success">yes</span>
                        {{else}}
                        bluetooth:
                        <span class="badge rounded-pill text-bg-danger">no</span>
                        {{/if}}
                    </p>

                    <p>
                        {{#if USB}}
                        USB:
                        <span class="badge rounded-pill text-bg-success">yes</span>
                        {{else}}
                        USB:
                        <span class="badge rounded-pill text-bg-danger">no</span>
                        {{/if}}
                    </p>
                </div>
                {{/with}}
            </div>

        </div>
        {{/with}}

        <hr>

        {{#with exterior}}
        <div class="row text-bg-warning">

            {{> title data="Exterior:" big=false}}
            <hr>
            <div class="col-4 mt-3">
                <b>Wheels:</b>
                {{#with wheels}}
                <div class="mt-3">
                    <p>
                        size:
                        <span class="badge rounded-pill text-bg-dark">{{size}}</span>
                    </p>

                    <p>
                        type:
                        <span class="badge rounded-pill text-bg-info">{{type}}</span>
                    </p>

                    <p>
                        color:
                        <span class="badge rounded-pill text-bg-info">{{color}}</span>
                    </p>
                </div>
                {{/with}}
            </div>

            <div class="col-4 mt-3">
                <b>Headlights:</b>
                {{#with headlights}}
                <div class="mt-3">
                    <p>
                        headlights:
                        <span class="badge rounded-pill text-bg-info">{{headlights}}</span>
                    </p>

                    <p>
                        brightness:
                        <span class="badge rounded-pill text-bg-info">{{brightness}}</span>
                    </p>

                    <p>
                        {{#if automatic}}
                        automatic:
                        <span class="badge rounded-pill text-bg-success">yes</span>
                        {{else}}
                        automatic:
                        <span class="badge rounded-pill text-bg-danger">no</span>
                        {{/if}}
                    </p>
                </div>
                {{/with}}
            </div>

            <div class="col-4 mt-3">
                <b>Sunroof:</b>
                {{#with sunroof}}
                <div class="mt-3">
                    <p>
                        type:
                        <span class="badge rounded-pill text-bg-info">{{type}}</span>
                    </p>

                    <p>
                        bsize:
                        <span class="badge rounded-pill text-bg-info">{{size}}</span>
                    </p>

                    <p>
                        {{#if automatic}}
                        automatic:
                        <span class="badge rounded-pill text-bg-success">yes</span>
                        {{else}}
                        automatic:
                        <span class="badge rounded-pill text-bg-danger">no</span>
                        {{/if}}
                    </p>
                </div>
                {{/with}}
            </div>

        </div>

        {{/with}}
    </div>

    <hr>

    {{#with safety}}
    <div class="row text-bg-secondary">
        {{> title data="Safety:" big=false}}
        <hr>
        <div class="col-4 mt-3">
            <b>Airbags:</b>
            {{#with airbags}}
            <div class="mt-3">
                <p>
                    front:
                    <span class="badge rounded-pill text-bg-dark">{{front}}</span>
                </p>

                <p>
                    side:
                    <span class="badge rounded-pill text-bg-dark">{{side}}</span>
                </p>

                <p>
                    knee:
                    <span class="badge rounded-pill text-bg-dark">{{knee}}</span>
                </p>

                <p>
                    rear:
                    <span class="badge rounded-pill text-bg-dark">{{rear}}</span>
                </p>
            </div>
            {{/with}}
        </div>

        <div class="col-4 mt-3">
            <b>Assistance:</b>
            {{#with assistance}}
            <div class="mt-3">
                <p>
                    {{#if blind_spot_monitoring}}
                    blind spot monitoring:
                    <span class="badge rounded-pill text-bg-success">yes</span>
                    {{else}}
                    blind spot monitoring:
                    <span class="badge rounded-pill text-bg-danger">no</span>
                    {{/if}}
                </p>

                <p>
                    {{#if rear_cross_traffic_alert}}
                    rear cross traffic alert:
                    <span class="badge rounded-pill text-bg-success">yes</span>
                    {{else}}
                    rear cross traffic alert:
                    <span class="badge rounded-pill text-bg-danger">no</span>
                    {{/if}}
                </p>

                <p>
                    {{#if lane_departure_warning}}
                    lane departure warning:
                    <span class="badge rounded-pill text-bg-success">yes</span>
                    {{else}}
                    lane departure warning:
                    <span class="badge rounded-pill text-bg-danger">no</span>
                    {{/if}}
                </p>

                <p>
                    {{#if adaptive_cruise_control}}
                    adaptive cruise control:
                    <span class="badge rounded-pill text-bg-success">yes</span>
                    {{else}}
                    adaptive cruise control:
                    <span class="badge rounded-pill text-bg-danger">no</span>
                    {{/if}}
                </p>

                <p>
                    {{#if collision_warning}}
                    collision warning:
                    <span class="badge rounded-pill text-bg-success">yes</span>
                    {{else}}
                    collision warning:
                    <span class="badge rounded-pill text-bg-danger">no</span>
                    {{/if}}
                </p>

            </div>
            {{/with}}
        </div>



    </div>
    {{/with}}


    {{/with}}
</section>

<hr>
<section>
    <div class="row">
        <div class="col-4 mt-2 mx-4 text-bg-info">
            {{#with engine}}

            <h3 class="text-center text-uppercase pt-3">Engine</h3>
            <hr>
            <div>
                <p>
                    type:
                    <span class="badge rounded-pill text-bg-info">{{type}}</span>
                </p>

                <p>
                    displacement:
                    <span class="badge rounded-pill text-bg-dark">{{displacement}}</span>
                </p>

                <p>
                    horsepower:
                    <span class="badge rounded-pill text-bg-dark">{{horsepower}}</span>
                </p>

                <p>
                    torque:
                    <span class="badge rounded-pill text-bg-dark">{{torque}}</span>
                </p>

                <div>

                    <p> Transmission:</p>

                    {{#with transmission}}
                    <div>
                        <p>
                            type:
                            <span class="badge rounded-pill text-bg-info">{{type}}</span>
                        </p>

                        <p>
                            gears:
                            <span class="badge rounded-pill text-bg-info">{{gears}}</span>
                        </p>
                    </div>
                    {{/with}}
                </div>
            </div>


            {{/with}}
        </div>

        <div class="col-4 mt-2 text-bg-warning">
            {{#with fuel_economy}}

            <h3 class="text-center text-uppercase pt-3">Fuel economy</h3>
            <hr>
            <div>
                <p>
                    city:
                    <span class="badge rounded-pill text-bg-info">{{city}}</span>
                </p>

                <p>
                    highway:
                    <span class="badge rounded-pill text-bg-dark">{{highway}}</span>
                </p>

                <p>
                    combined:
                    <span class="badge rounded-pill text-bg-dark">{{combined}}</span>
                </p>
            </div>

            {{/with}}
        </div>
    </div>
</section>


<hr>

<section class="mt-2 mx-4">
    <div class="row col-4 text-start">
        {{#with price}}
        <div>
            <h3 class="text-center text-uppercase pt-3">Price</h3>

            <p>
                base:
                <span class="badge rounded-pill text-bg-primary">{{base}} $</span>
            </p>

            <p>
                hdestination:
                <span class="badge rounded-pill text-bg-primary">{{destination}} $</span>
            </p>

            <div>
                <p> Options:</p>
                {{#with options}}
                <div>
                    <p>
                        navigation:
                        <span class="badge rounded-pill text-bg-primary">{{navigation}} $</span>
                    </p>

                    <p>
                        moonroof:
                        <span class="badge rounded-pill text-bg-primary">{{moonroof}} $</span>
                    </p>

                    <p>
                        premium_paint:
                        <span class="badge rounded-pill text-bg-primary">{{premium_paint}} $</span>
                    </p>
                </div>
            </div>


            {{/with}}
        </div>

        <div>
            <h3>
                <em>Total price:</em>
                <span class="badge text-bg-primary"> {{total}} $ </span>
            </h3>

        </div>


    </div>
    {{/with}}
    </div>
    <hr>
</section>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}