{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>
    {{#with person}}
    <div>
        <h1>{{name}}</h1>
    </div>
    {{/with}}
</div>

<div>
    {{#with person}}
    <main>
        <section>
            <div>
                <hr>
                <br>
                <em> age:{{age}}</em>
                <br>
                <br>
                <em>gender:{{gender}}</em>
            </div>
            <br>
            <hr>
            <div>
                {{#with address}}
                <p>{{> title data="Adress" big=true}}</p>
                <address>
                    <p>{{street}}, {{city}}, {{state}}</p>
                    <p>{{zip}}, {{country}}</p>
                </address>
                {{/with}}
            </div>
        </section>

        <br>
        <hr>

        <section>
            <div>
                {{> title data="Education" big=true}}
                {{#each education}}
                <p>{{degree}}</p>
                <p>{{major}}</p>
                <p>{{university}}</p>
                <p>Graduation year: {{graduationYear}}</p>
                {{/each}}
            </div>
        </section>

        <br>
        <hr>

        <section>
            {{> title data="Work Experience" big=true}}
            <div>
                <ol>
                    {{#each workExperience}}
                    <li>
                        <strong>{{company}}, {{industry}},
                            year founded:{{year_founded}}</strong>
                        <p>{{title}}</p>
                        <p>
                            {{startDate}} -

                            {{#if endDate}}
                            {{endDate}}
                            {{else}}
                            (still work)
                            {{/if}}
                        </p>
                        <b>Responsibilities:</b>

                        <ol>
                            <br>
                            {{#each responsibilities}}
                            <li> {{this}} </li>
                            {{/each}}
                        </ol>

                        <br>
                        <b>Employees:</b>
                        <hr>

                        <ol>
                            {{#each employees}}
                            <li>
                                <em>{{name}}</em>
                                <p>{{position}}</p>
                                <p>{{department}}</p>

                                <b>Projects:</b>
                                <hr>

                                <ol>
                                    {{#each projects}}
                                    <li>
                                        <em>{{name}}</em>
                                        <p>{{description}}</p>
                                        <p>{{status}}</p>

                                        <b>Teams:</b>
                                        <hr>

                                        <ol>
                                            {{#each teams}}
                                            <li>
                                                <em>{{team_name}}</em>
                                                <div>
                                                    {{#with team_leader }}
                                                    <p> {{name}} -- {{title}} </p>
                                                    <a href="john.smith@example.com">
                                                        john.smith@example.com
                                                    </a>
                                                    {{/with}}
                                                </div>

                                                <br>
                                                <b>Team members:</b>
                                                <hr>
                                                <ol>
                                                    {{#each team_members}}
                                                    <li>
                                                        <p>{{name}} -- {{title}}</p>
                                                        <a href="alice.johnson@example.com">
                                                            alice.johnson@example.com
                                                        </a>

                                                        <div>
                                                            <p>Skills:</p>
                                                            <ul>
                                                                {{#each skills}}
                                                                <li>{{this}}</li>
                                                                {{/each}}
                                                            </ul>
                                                        </div>

                                                        <br>
                                                        <b>Projects:</b>
                                                        <hr>
                                                        <ol>
                                                            {{#each projects}}
                                                            <li>
                                                                <em>{{name}}</em>
                                                                <p>{{description}}</p>

                                                                <div>
                                                                    <p>Technologies:</p>
                                                                    <ul>
                                                                        {{#each technologies}}
                                                                        <li>{{this}}</li>
                                                                        {{/each}}
                                                                    </ul>
                                                                </div>

                                                                <div>
                                                                    <br>
                                                                    <b>Team members:</b>
                                                                    <hr>

                                                                    <ul>
                                                                        {{#each team_members}}
                                                                        <li>{{name}} -- {{title}}</li>
                                                                        {{/each}}
                                                                    </ul>

                                                                </div>
                                                            </li>
                                                            {{/each}}
                                                        </ol>
                                                    </li>
                                                    {{/each}}
                                                </ol>
                                            </li>
                                            {{/each}}
                                        </ol>
                                    </li>
                                    {{/each}}
                                </ol>
                            </li>
                            {{/each}}
                        </ol>
                    </li>
                    {{/each}}
                </ol>
            </div>
        </section>
        <br>
        <hr>
    </main>
    {{/with}}
</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}