{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div class="mt-4 mx-4">
    {{#with program}}
    <div>
        {{#with excursion}}

        <h1>{{name}}</h1>

        {{/with}}
    </div>
    {{/with}}
</div>

<div class="mt-4 mx-4">
    {{#with program}}
    <div>
        {{#with excursion}}

        {{#with location}}
        <div>
            <b>{{city}}, {{country}}</b>
        </div>
        {{/with}}

        <p>{{date}}</p>
    </div>

    <hr class="mt-3 mb-4">

    <div>

        {{> title data="Program:" big=false}}

        <ol>
            {{#each program}}

            <br>

            <li>
                <div> <b>{{name}}</b> ({{type}})
                    <p>{{duration}} hours</p>
                    <em>{{> title data="Details:" big=false}}</em>
                    {{#with details}}

                    {{!-------------------- №1 -------------------}}
                    <div class="my-4">
                        {{#with museum}}

                        <div>
                            <b>Museum: <em>{{name}}</em></b>
                            <div>
                                {{#with location}}
                                <address>
                                    <div class="my-2"><b>Adress:</b></div>
                                    <div class="my-2">{{address}}, {{city}}</div>
                                    <div>{{country}}</div>
                                </address>
                                {{/with}}
                            </div>
                        </div>

                        <div>
                            <b>Exhibits:</b>
                            <ol class="my-3">
                                {{#each exhibits}}

                                <li>
                                    <p>{{name}} -

                                        {{#if artist}} {{artist}} {{/if}}
                                        {{#unless artist includeZero=false}} (unknown author) {{/unless}}</p>

                                    <p>{{description}}</p>

                                    {{#if audio_guide}}
                                    (audio guide - <em>available</em>)
                                    {{else}}
                                    (audio guide - <em>not available</em>)
                                    {{/if}}
                                    </p>
                                </li>

                                {{/each}}
                            </ol>
                        </div>

                        {{/with}}
                    </div>
                    {{!===========================================}}

                    {{!-------------------- №2 -------------------}}
                    <div>
                        {{#with venue}}

                        <div>
                            <b>Venue: <em>{{name}}</em></b>


                            <div>
                                {{#with location}}
                                <b>Adress:</b>
                                <address class="my-1">
                                    <div class="my-2">{{address}}, {{city}}</div>
                                    <div>{{country}}</div>
                                </address>
                                {{/with}}
                            </div>

                        </div>

                        <div class="mt-3">
                            <div class="my-3"><b>Performers:</b></div>
                            <ol>
                                {{#each ../performers}}
                                <li>
                                    <p>{{name}}</p>
                                    <p>{{type}}</p>
                                </li>
                                {{/each}}
                            </ol>
                        </div>

                        {{/with}}
                    </div>
                    {{!===========================================}}

                    <div>
                        <div class="my-3"><em>Guide:</em></div>
                        {{#with guide}}
                        <p>{{name}} ({{language}})</p>
                        <p>rating: {{rating}}</p>
                        {{/with}}
                    </div>
                    <hr class="mt-3 mb-4">
                    {{/with}}
            </li>
            {{/each}}

        </ol>

    </div>

    {{/with}}

</div>

{{/with}}

</div>



{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}