{{!--
Це код container файлу для shoporder сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/shoporder"
--}}

<main>

    {{!------------------------------Up-to down #1-----------------------------}}
    <header>
        {{#with navigation}}
        <div class="card">
            <div class="nav">
                {{#each links}}
                <div class="nav-item">
                    {{#if href}}
                    <a href="{{href}}" class="nav-link pe-1 py-3">{{text}}</a>
                    {{else}}
                    <a href="{{href}}" class="nav-link disabled pe-1 py-3">{{text}}</a>
                    {{/if}}
                </div>
                {{/each}}
            </div>
        </div>
        {{/with}}
    </header>
    {{!---------------------------------End #1---------------------------------}}

    {{!------------------------------Up-to down #2-----------------------------}}
    <section>
        <div>
            {{#with header}}
            <h2 class="mt-5">{{title}}</h2>

            <div>
                {{#with button}}
                <div class="my-3">
                    <a href="{{link}}" class="btn btn-outline-secondary mb-2">{{text}}</a>
                </div>
                {{/with}}
            </div>

            {{/with}}
        </div>
    </section>
    {{!---------------------------------End #2---------------------------------}}

    <hr class="col-12 my-5">

    {{!------------------------------Up-to down #3-----------------------------}}
    <section>
        <div>
            {{#each goodsBlock}}

            {{> cartGoodsItem}}

            {{/each}}
        </div>
    </section>
    {{!---------------------------------End #3---------------------------------}}

    <hr class="col-12 my-5">

    {{!------------------------------Up-to down #4-----------------------------}}
    <section>
        <div>
            {{#with total}}

            <div>
                <h3 class="mt-5">{{title}}</h3>
                <h2 class="mt-3">{{amount}}</h3>
            </div>

            <div class="mt-3">{{delivery}}</div>

            <div>
                {{#each buttons}}
                <div class="my-3">
                    {{#if isSuccess}}
                    <a href="{{link}}" class="btn btn-success mb-2">{{text}}</a>
                    {{/if}}

                    {{#if isOutline}}
                    <a href="{{link}}" class="btn btn-outline-success mb-2">{{text}}</a>
                    {{/if}}
                </div>
                {{/each}}
            </div>

            {{/with}}
        </div>
    </section>
    {{!---------------------------------End #4---------------------------------}}

    <hr class="col-12 my-5">

    {{!------------------------------Up-to down #5-----------------------------}}
    <section>
        <div class="col-12">
            {{#with goodsOtherBlock }}

            <h3 class="mt-3">{{title}}</h3>

            <div class="row">
                {{#each cards}}
                <div class="col-4 mt-5">
                    <div class="card text-bg-light mb-3">

                        <img class="card-img-top" src="{{image}}" alt="{{title}} text-bg-secondary">

                        <div class="card-body ">
                            <h5>{{title}}

                                {{#if isHot}}
                                <span class="badge bg-warning rounded-pill text-uppercase">
                                    Hot!
                                </span>
                                {{/if}}

                                {{#if idNew}}
                                <span class="badge bg-primary rounded-pill text-capitalize">
                                    New
                                </span>
                                {{/if}}
                            </h5>
                            <p>{{description}}</p>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>

            {{/with}}
        </div>
    </section>
    {{!---------------------------------End #5---------------------------------}}

    <hr class="col-12 my-5">

    {{!------------------------------Up-to down #6-----------------------------}}
    <section class="col-12">
        <div class="card text-bg-dark">
            {{#with subscribe}}

            <h2 class="ms-3 my-4">{{header}}</h2>
            <p class="m-3">{{description}}</p>
            <div>
                {{#each buttons}}
                <div class="mx-3 my-3">
                    <a href="{{link}}" class="btn btn-primary">{{text}}<a>
                </div>
                {{/each}}
            </div>

            {{/with}}
        </div>
    </section>
    {{!---------------------------------End #6---------------------------------}}

</main>

<hr class="col-12 mt-5">

{{!--------------------------------Up-to down #7-------------------------------}}
<footer>
    <div class="col-9">
        <div class="row">

            <div class="nav">
                <div class="nav-item">

                    <table>
                        <tr>
                            {{#each footer}}
                            <td>
                                {{#each .}}

                                {{#if link}}
                                <a href="{{link}}" class="nav-link">{{text}}</a>
                                {{else}}
                                <a href="{{link}}" class="nav-link disabled">{{text}}</a>
                                {{/if}}

                                {{/each}}
                            </td>
                            {{/each}}
                        </tr>
                    </table>

                </div>
            </div>

        </div>
    </div>
</footer>
{{!-----------------------------------End #7-----------------------------------}}

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/basic.hbs
Адже наш layout/basic.hbs має вже структуру HTML
--}}