{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}


<main class="mt-4 mx-4">
    <div class="card">
        <div class="card-body">
            {{#with heading}}

            <div class="card">
                <div class="card-body">
                    {{#with main}}
                    <h1>{{title}}</h1>
                    <p>{{text}}</p>
                    <div>
                        {{#with button_text}}
                        <p class="mb-2">
                            <button class="btn btn-primary">{{solid}}</button>
                        </p>

                        <p>
                            <button class="btn btn-outline-primary">{{outline}}</button>
                        </p>
                        {{/with}}
                    </div>
                    {{/with}}
                </div>
            </div>

            <div class="card mt-3">
                <div class="card-body">
                    {{#with second}}
                    <h2>{{title}}</h2>
                    <p>{{text}}</p>
                    <div>
                        {{#with button_text}}
                        <p>
                            <button class="btn btn-secondary">{{solid}}</button>
                        </p>

                        <p>
                            <button class="btn btn-outline-secondary">{{outline}}</button>
                        </p>
                        {{/with}}
                    </div>
                    {{/with}}
                </div>
            </div>

            <div class="card mt-3">
                <div class="card-body">
                    {{#with subblock}}
                    <h3>{{title}}</h3>
                    <p>{{text}}</p>
                    <div>
                        {{#with button_text}}
                        <p>
                            <button class="btn btn-dark">{{solid}}</button>
                        </p>

                        <p>
                            <button class="btn btn-outline-dark">{{outline}}</button>
                        </p>
                        {{/with}}
                    </div>
                    {{/with}}
                </div>
            </div>

            {{/with}}
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-body">
            {{#with nested_display}}
            <div class="display-1 my-4">{{title}}</div>

            <div class="card mt-5">
                <div class="card-body">
                    {{#with children_display}}
                    <div class="display-4">{{title}}</div>

                    <p class="mt-2">{{text}}</p>

                    <div>
                        {{#with button}}
                        <div>
                            <button class="btn btn-outline-warning">{{text}}</button>
                        </div>
                        {{/with}}
                    </div>
                    {{/with}}
                </div>
            </div>

            <div class="my-3">
                <h6>{{header_text}}</h6>
            </div>

            <div class="mt-2">
                {{#with button}}
                <div>
                    <button class="btn btn-info">{{text}}</button>
                </div>
                {{/with}}
            </div>
            {{/with}}
        </div>
    </div>

    <div class="card my-4 ">
        <div class="card-body">
            {{#with paragraph}}
            <p class="text-uppercase">{{title}}</p>
            <p>{{text}}</p>
            <div>
                {{#with button}}
                <a href="{{url}}" class="btn btn-link" target="_blank">{{text}}</a>
                {{/with}}
            </div>

            <div class="card mt-2">
                <div class="card-body">
                    <ul>
                        {{#each list_name}}
                        <li>
                            <p>
                                <a href="{{url}}" class="btn btn-link" target="_blank">{{text}}</a>
                            </p>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>

            {{/with}}
        </div>
    </div>
</main>


{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}